<div data-ng-hide="vm.isAuthenticated" data-ng-init="vm.init()">
    <div class="well shadow">
        <p>Hi,</p>
        <p>We're gathering some seed data for our pre-launch activity.</p>
        <p>We're asking Professional Passport insiders to connect via LinkedIn so we can gather your LinkedIn profile data.</p>
        <p>To connect just click the big blue button and approve when the LinkedIn pop up appears.</p>
        <p>Thanks for your help!</p>
        <p>Professional Passport Team.</p>
    </div>
    <div class="text-center">
        <script type="in/Login"></script>
    </div>
</div>
<div data-ng-show="vm.isAuthenticated">
    <div class="alert aler" data-ng-class="vm.errorSaving ? 'alert-danger' : 'alert-info'">
      <div data-ng-repeat="step in vm.processSteps">{{ step }}</div>
    </div>
</div>