<div data-ng-init="vm.init()">
    <h4>Stats</h4>

    <div data-ng-show="vm.err" class="alert alert-danger">
        error fetching data.
    </div>
    <div data-ng-show="vm.noData" class="alert alert-warning">
        no data available.
    </div>

    <div data-ng-hide="vm.err || vm.noData">
      <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Total Connections</th>
                <th>Connections Visible</th>
            </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="profile in vm.stats">
              <td>{{ profile.name }}</td>
              <td>{{ profile.emailAddress }}</td>
              <td>{{ profile.totalConnections }}</td>
              <td>{{ profile.connectionsNotHidden }}</td>
          </tr>
          </tbody>
      </table>
    </div>
</div>
